@charset "utf-8";

@import "../../base/base";

@import "../../mixin/mixin";

@import "../../setting/config";

@import '../../vendor/variables';

.list-download {
	position: absolute;
	right: 16px;
}

.video_page_trans {
	position: absolute;
	right: 1.5em;
}
